<div class="container mx-auto px-4 py-8">
  <h1 class="text-3xl font-bold text-center my-8 text-indigo-600">Payment Failed</h1>
  <p class="text-center">Your payment could not be processed. Please try again or contact support.</p>
  <div class="mt-8 text-center">
    <%= link_to 'Return to Checkout', new_checkout_path, class: 'inline-block bg-indigo-600 text-white py-2 px-4 rounded-lg hover:bg-indigo-700' %>
  </div>
</div>
